POSTGRES_PASSWORD=TROCAR_POR_SENHA_SEGURA
SESSION_SECRET=TROCAR_POR_STRING_ALEATORIA

GENIEACS_NBI_PORT=7557

CWMP_URL=https://flashman.marvitel.com.br:7547

DOMAIN=flashman.marvitel.com.br

COOKIE_SECURE=true

SSL_CERT_PATH=/etc/letsencrypt/live/flashman.marvitel.com.br

HTTPS_PORT=443
HTTP_PORT=80
