POSTGRES_PASSWORD=TROCAR_POR_SENHA_SEGURA
SESSION_SECRET=TROCAR_POR_STRING_ALEATORIA

NETCONTROL_PORT=3000

GENIEACS_NBI_PORT=7557

CWMP_URL=https://flashman.marvitel.com.br:7547

DOMAIN=flashman.marvitel.com.br

COOKIE_SECURE=false
